.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #97f500;
    color: #141414;
    border-radius: 25px;
    border: 2px solid white;
    cursor: pointer;
    margin: 4px;
    user-select: none;
}

.boton-contenedor:hover{
    background-color: #f9f8fa;
}

.operador{
    background-color: #1e3a65;
}

.operador:hover{
    background-color: #ccd6f6ff;
}